In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# dataset = pd.read_excel("/Users/linus/Documents/Learning Files/Cass/Term 3/SMM799 ARP/mas_car_00_18_2019_adjusted.xlsx")
# dataset.head()

In [3]:
# for col in dataset.columns:
#     print(col)

In [4]:
# df = dataset[['Date Announced', 'Original Date Announced', 'Standard Industry Classification Code',
#             'Same_industry', 'CAR(-1, +1)', 'CAR(-2, 2)', 'crossborderdeal', 'cashpayment', 'leverage',
#             'Acquiror Market Value 4 Weeks Prior to Announcement ($mil).1']]
# df['Date (years)'] = pd.to_datetime(df['Date Announced'], format="%Y%m%d").dt.year
# df.head()

In [5]:
# rename the columns
# column_mapping = {'Standard Industry Classification Code': 'SIC',
#             'Same_industry': 'Horizontal', 'CAR(-2, 2)': 'CAR(-2, +2)',
#             'crossborderdeal': 'Crossborder', 'cashpayment': 'Cash', 'leverage': 'Leverage',
#             'Acquiror Market Value 4 Weeks Prior to Announcement ($mil).1': 'Acquiror size'}

# df = df.rename(mapper=column_mapping, axis=1)

In [6]:
# drop date announced, original date announced
# df = df.drop(['Date Announced', 'Original Date Announced'], axis=1)
# df

In [7]:
# save new dataframe as a .csv file
# df.to_csv('ARP_compressed_dataset.csv')

# Conducting empirical analysis

In [8]:
# reimport the data set
df = pd.read_csv('ARP_compressed_dataset.csv')
df

,Unnamed: 0,SIC,Horizontal,"CAR(-1, +1)","CAR(-2, +2)",Crossborder,Cash,Leverage,Acquiror size,Date (years)
0,0,5961,0,-0.001608,0.009858,0,0,0.456346,140.433,2013
1,1,5961,0,-0.018310,-0.034374,1,1,0.4521884,555.630,2008
2,2,5961,0,-0.007620,-0.015071,1,1,0.344419,426.282,2006
3,3,5961,0,0.211841,0.146537,1,1,0.3044112,330.046,2014
4,4,6020,0,0.001937,0.048450,1,0,0.9189009,57.730,2013
...,...,...,...,...,...,...,...,...,...,...
20371,20371,6211,1,0.027444,0.020493,1,0,0.7598003,1333.872,2008
20372,20372,6211,0,0.100135,0.151409,1,0,0.7244874,667.857,2009
20373,20373,6211,0,0.039568,0.030297,1,0,0.7128826,1446.661,2007
20374,20374,7372,0,-0.029043,0.003318,1,0,0.295371,355.064,2006
20375,20375,7372,1,0.006849,0.017541,1,1,0.295371,407.214,2006